/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Body styles */
#hero {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -100;
    display: block;
}
#fit{
    min-height: 100vh;
    background-size: auto;
    background-position: center;
    z-index: -100;
    display: block;
    position: relative;
    text-align: center;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }

/* Header styles */
.header {
    position: relative;
    width: 100%;
    padding: 1.5rem 10%;
    background: rgba(134, 136, 153, 0.838);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; 
    
}

/* Logo styles */
.logo {
    font-size: 50px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: color 0.3s ease; 
}

/* Add CSS for logo image */
.logo-img {
    float: left; 
    height: 80px;  
    margin-right: 20px; 
    border-radius: 50%; 
}

/* Navbar styles */
.navbar {
    
    display: flex;
    flex-direction: row; 
    justify-content: flex-end; 
}

.navbar ul {
    list-style-type: none;
    font-style: bold;
    
}

.navbar a {
    font-size: 30px;
    text-decoration: none;
    margin-left: 2.5rem;
    align-items: center;
    transition: color 0.3s ease; 
    font-style: bold;
}

#map-section {
    margin-top: 12px;
    padding-bottom: 5%;
}
#map {
    width: 80%;
    height: 100%;
}

#locations {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
}

.location {
    width: 317px;
}


.muscle {
    height: 800px;
    width: 100%;
    margin-bottom: 50px;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
    
}

.about-it {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
}

.card {
    width: 290px;
    height: 475px;
    margin: 15px;
    border-radius: 40px;
    padding:20px;
    min-width: 290px;


}

.card-1 {
    background: linear-gradient(330.17deg, white 18.22%, goldenrod 84.39%);
}

.card-2 {
    background: linear-gradient(330.17deg, white 18.22%, silver 84.39%);

}

.card-3 {
    background: linear-gradient(330.17deg, white 18.22%, lightblue 84.39%);

}

.card-image {

    height: 150px;
    margin-bottom: 15px;

}

.card:hover {
    background: rgb(62,62,62);
    color:white;
    transform: scale(1.10);
    transition: all 1s ease;
}


@media screen and (max-width: 550px) {
    .about-it {
        flex-direction: column; 
        align-items: center;
    }

}

@media screen and (max-width: 945px) {
    .container {
        flex-direction: column; 
        align-items: center;
    }

}

/* Change logo color to yellow below 567px */
@media screen and (max-width: 567px) {
    .logo {
        color: yellow;
    }
}

/* Change navbar ul color to yellow below 444px */
@media screen and (max-width: 567px) {
    .navbar ul {
        color: yellow;
    }
}

/* Join button styles */
#join {
    display: inline-flex;
    padding: 10px;
    margin-left: 10px;
    justify-content: center;
}

/* Media query for responsiveness */
@media screen and (max-width: 567px) {
    .header {
        flex-direction: column; 
        align-items: center; 
    }
}
/* Keyframes for flashing animation */
@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* Join button styles */
#join button {
    animation: flash 1s infinite; 
}
@media screen and (max-width: 447px) {
    .logo {
        flex-direction: column; 
        align-items: center; 
    }
}

/* Media query for responsiveness below 669px */
@media screen and (max-width: 669px) {
    #map-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #map {
        width: 100%; /* Adjust map width to fill the screen */
        height: 300px; /* Set a fixed height for the map */
    }
    
    #locations {
        margin-top: 20px; /* Add some margin between map and locations */
    }
    
    .location {
        width: 100%; /* Make locations occupy full width */
    }
}


